{% extends 'base.html' %}


    {% block content %}
      <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Products Page</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to codemy product page</p>
                </div>
            </div>
        </header>
<br><br><br><br><br><br>
        <div class ="container">

            {% if product.is_sale %}
            
                <div class="card mb-3" >
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="badge bg-dark text-white position-absolute" style=" top: 0.5rem; right: 0.5rem;" >Sale</div>
                                <h5 class="card-title">{{product.name}}</h5>
                                        {{product.description}} <br>
                                        <strike>${{ product.price }}</strike>
                                                        &nbsp;${{product.sale_price}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            
                
        <br><br><br><br><br>
            {% else %}
                <div class="card mb-3" >
                    <div class="row g-0">
                        <div class="col-md-4">
                        <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">${{ product.name }}</h5>
                                    {{ product.description }}
                        
                                    ${{ product.price }}
                            </div>
                        </div>
                    </div>
                </div>
                
        <br><br><br><br><br>
           {% endif %}         
           

        

                

                    
                       
    {% endblock %}