{% extends 'base.html' %}


    {% block content %}
      <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Products Page</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to codemy product page</p>
                </div>
            </div>
        </header>
<br><br><br><br><br><br>
        <div class ="container">
            <div class="card mb-3" >
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="badge bg-dark text-white position-absolute" style=" top: 0.5rem; right: 0.5rem;" >Sale</div>
                                <h5 class="card-title">{{product.name}}</h5>
                                        {{product.description}} <br>
            {% if product.is_sale %}


                                        <strike>${{ product.price }}</strike>
                                                        &nbsp;${{product.sale_price}}</p>
                                                        <br><br><br>
                             {% else %}
                                {{ product.price }}
                             {% endif %}
                             <br><br><br>

                                            <button class="btn btn-secondary add-cart" value="{{ product.id }}">
    Add to cart
</button>

<script>
$(document).ready(function(){
    // This now targets the CLASS 'add-cart'
    $('.add-cart').click(function(e){
        e.preventDefault();

        var productId = $(this).val();
        console.log("Button clicked for product:", productId);

        $.ajax({
            type: 'POST',
            url: "{% url 'cart_add' %}",
            data: {
                product_id: productId,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(response){
                console.log("Success:", response);
                // Optional: Update cart count UI here
                alert("Product added to cart!");
            },
            error: function(xhr){
                console.log("Error status:", xhr.status);
                console.log("Error details:", xhr.responseText);
            }
        });
    });
});
</script>
                            </div>
                        </div>
                    </div>
                </div>


        <br><br><br><br><br>




                <br> <br>
                <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>





    {% endblock %}
